.search {
  width: 100%;
}
#form {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#searchBar {
  height: 69px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: $colour-grey;
  padding: 25px 0px 25px 19px;
  &:focus {
    outline: none;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
