.dropdown {
  @include button;
  &--ingredient {
    background-color: $colour-ingredients;
  }
  &--ustensils {
    background-color: $colour-ustensils;
  }
  &--appareil {
    background-color: $colour-appareil;
  }
}
.search {
  &--ingredient {
    background-color: $colour-ingredients;
  }
  &--ustensils {
    background-color: $colour-ustensils;
  }
  &--appareil {
    background-color: $colour-appareil;
  }
}

.ulIngredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
  grid-gap: 10px;
  // margin-top: -5px;
}
.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $colour-ingredients;
  color: $colour-white;
  font-size: 1.3rem;
  outline: none;
  border: none;
  margin: 5px 5px 5px 0px;
  padding: 10px;
  cursor: pointer;
}
.tagContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.buttonDisplayNone {
  display: none;
}
