$colour-primary: #000000;
$colour-secondary: #d04f4f;
$colour-white: #fff;
$colour-ustensils: #ed6454;
$colour-appareil: #68d9a4;
$colour-ingredients: #3282f7;
$colour-grey: #e7e7e7;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
$padding-card: 2rem;
